<div class="my-row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sortPad">
	    <div id="searchInput">
	    	<label class="form-label">Data od:</label>
	        <input class="form-control" id="searchFormDMin" type="text" [value]="filterTextMin" [placeholder]="filterPlaceholderMin" [formControl]="filterInputMin"/>
	    </div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sortPad">
	    <div id="searchInput">
	    	<label class="form-label">Data do:</label>
	        <input class="form-control" id="searchFormDMax" type="text" [value]="filterTextMax" [placeholder]="filterPlaceholderMax" [formControl]="filterInputMax"/>
	    </div>
	</div>
</div>