<div class="closeInf">
    <button type="submit" (click)="hideInfRemove(nameDef)" title="Zamknij">    
        <span class="glyphicon glyphicon-remove"></span>
    </button>		
    <div class="row">        
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padR">
        	Sekwencja z <strong>{{nameDef}}</strong> <br>została usunięta z konta!	
    	</div>      
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padL">
        	<div class="glyphicon glyphicon-ok successLeft"></div>
    	</div>
	</div>
</div>
